
    <section>
      <h2>History</h2>
      
      <article>
        <table class="table-fill">
          <tr>
            <thead>
              <th class="text-left">Date</th>
              <th class="text-left">ICE User</th> 
              <th class="text-left">Reference</th>
              <th class="text-left">Description</th>
            </thead>
          </tr>
          <tbody class="table-hover">
            {$history_table}
          </tbody>
        </table>
        
      </article>
      
    </section>
    <section>
      <article>test</article>
      <!--
      <article>
        <ul>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
      </article> -->
    </section>